.navbar {
    display: flex;
    justify-content: space-between; /* Aligns items to start and end */
    padding: 10px; /* Adjust padding as needed */
    box-shadow: 0 5px 3px -2px #d5a66e;
    background: #424242;
  }
  
  .nav-logo {
    /* No need for display: flex; here */
    align-self: center; /* Align the logo vertically to the center */
  }
  
  .nav-menu {
    display: flex;
    gap: 50px;
    list-style: none;
    color: #d5a66e;
    font-size: 20px;
    font-weight: 500;
  }
  
  .nav-menu li {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 3px;
    cursor: pointer;
    text-decoration: none;
  }
  .nav-login-cart{
    display: flex;
    align-items: center;
    gap: 15px;

  }
  .nav-login-cart button{
    width: 100px;
    height: 50px;
    outline: none;
    border: none;
    border-radius: 75px;
    color: #d5a66e;
    font-size: 20px;
    font-weight: 500;
    background: #424242;
    cursor: pointer;
  }
  .nav-cart-count{
    width: 18px;
    height: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    right: 10px;
    margin-top: -35px;
    margin-left: 0px;
    border-radius: 11px;
    font-size: 14px;
    background: red;
    color: white;
  }

  
 