.navbar {
    display: flex;
    justify-content: space-between; 
    padding: 10px; 
    box-shadow: 0 5px 3px -2px #d5a66e;
    background: #424242;
}
@media(max-width:800px){
    .navbar{
        padding: 15px 30px;
    }
    
}